<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kenzz.reviewapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.kenzz.reviewapp.permission.broadcastreceiver"/>

    <permission
        android:name="com.kenzz.reviewapp.permission.broadcastreceiver"
        android:protectionLevel="normal"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.kenzz.reviewapp.okHttp.MyGlideModule"
            android:value="GlideModule"/>

        <activity android:name=".MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity android:name=".activity.ViewLearningActivity">
        </activity>
        <activity android:name=".activity.DesignActivity">
        </activity>
        <activity android:name=".activity.QQContactListActivity">
        </activity>
        <activity android:name=".activity.BroadCastReceiverActivity">
        </activity>
        <activity android:name=".activity.ServiceActivity">
        </activity>

        <service android:name=".service.SimpleService"/>
        <service
            android:name=".service.BookService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>
        <service
            android:name=".service.BinderPoolService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name=".service.TcpService"
            android:process=":serversocket"/>

        <activity android:name=".activity.RemoteViewsActivity">
        </activity>
        <activity android:name=".activity.DrawableActivity">
        </activity>
        <activity android:name=".activity.SocketActivity">
        </activity>
        <activity android:name=".activity.SkinActivity">
        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.GlideActivity">
        </activity>
        <activity android:name=".activity.SpannableActivity">
        </activity>
        <activity android:name=".activity.RecyclerViewActivity">
        </activity>
        <activity android:name=".activity.CameraActivity">
        </activity>
    </application>

</manifest>